.FACTURA {
  font-family: 'Arial', sans-serif; 
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 80px;
  right: 500px;
}

.invoice_data, .invoice_db, .seller, .buyer {
  font-family: 'Arial', sans-serif; 
  color: #fff;
  font-size: 20px;
  position: absolute;   
}

.invoice_data{
  top: 220px;
  right: 700px; 
  text-align: right;
}

.invoice_db {
  top: 220px;
  right: 500px; 
  text-align: right;
} 

.seller {
  top: 220px; 
  left: 500px; 
  text-align: left;
}

.buyer {
  top: 380px; 
  left: 500px; 
  text-align: left;
}

.invoice-table {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  color: #fff;
  display: grid;  
  position: absolute;    /* permet controlar la posició amb top i left/right */
  top: 550px;            /* distància des de dalt */
  left: 50%;             /* mou el contingut al centre (referència: el 50% de l'amplada de la pàgina) */
  transform: translateX(-50%); /* ajusta el desplaçament per realment centrar-ho */
}

.row {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  column-gap: 170px;
}

.row.header {
  font-weight: bold;
  color: #fff;
}

.total-row {
  font-weight: bold;
  border-top: 2px solid #fff;
  margin-top: 10px;
}
  
.btn-download {
  background-color: #000;
  border: 1px solid #fff; 
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  position: absolute;
  font-size: large;
  /* Fijar el boton lo mas abajo posible dependiendo de lo grande que sea la tabla de la factura */
  top: 75px; /* Ajusta según sea necesario */
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%); /* Ajusta el desplazamiento para centrarlo realmente */
}
.btn-download:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  transform: translateX(-50%) scale(1.1); /* Efecto de zoom al pasar el ratón */
}